Repository falsepopsky/thetvdb, changes with the labels that .github/labeler.yaml gives for each.
All labels: 📦 core, 📚 docs, 🧪 tests, ⚙️ configs

.github/labeler.yaml:

"📦 core":
  - "packages/thetvdb/src/**"
"📚 docs":
  - "docs/**"
  - "README.md"
  - "packages/thetvdb/README.md"
"🧪 tests":
  - "packages/thetvdb/tests/**"
"⚙️ configs":
  - ".prettierrc"
  - "jest.config.js"
  - ".eslintrc.cjs"

test: update config
  jest.config.js
  jest.setup.js
Labels: ⚙️ configs

chore: move linter config to package
  .eslintrc.cjs
  .eslintrc.json
  packages/eslint-config-untidy/index.cjs
  packages/eslint-config-untidy/package.json
Labels: ⚙️ configs

fix: lint config
  .eslintrc.cjs
  packages/eslint-config-untidy/index.cjs
Labels: ⚙️ configs

chore: move the pkg to a folder
  mocks/handlers/artwork.ts
  mocks/handlers/awards.ts
  mocks/handlers/companies.ts
  mocks/handlers/episodes.ts
  mocks/handlers/index.ts
  mocks/handlers/lists.ts
  mocks/handlers/movies.ts
  mocks/handlers/otherhandlers.ts
  mocks/handlers/people.ts
  mocks/handlers/search.ts
  mocks/handlers/seasons.ts
  mocks/handlers/series.ts
  mocks/handlers/updates.ts
  mocks/response.ts
  mocks/server.ts
  packages/thetvdb/CHANGELOG.md
  packages/thetvdb/README.md
  packages/thetvdb/environment.d.ts
  packages/thetvdb/package.json
  packages/thetvdb/playground.ts
  packages/thetvdb/src/core.ts
  packages/thetvdb/src/extended.ts
  packages/thetvdb/src/index.ts
  packages/thetvdb/src/main.ts
  packages/thetvdb/tests/core.test.ts
  packages/thetvdb/tests/extended.test.ts
  packages/thetvdb/tests/main.test.ts
  packages/thetvdb/tsconfig.build.json
  packages/thetvdb/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Labels: 📦 core, 📚 docs, 🧪 tests

test: fix path
  jest.setup.js
Labels: none
