Repository falsepopsky/thetvdb, changes with the labels that .github/labeler.yml gives for each.
All labels: 📚 docs, 🧪 tests, ⚙️ configs

.github/labeler.yml:

'📚 docs':
  - 'web/**/*'
  - 'README.md'
'🧪 tests':
  - 'tests/**/*'
'⚙️ configs':
  - '.prettierrc'
  - 'jest.config.js'
  - '.eslintrc.json'

chore: ignore doesn't work
  build-ignore.sh
  netlify.toml
Labels: none

chore: update ignore command
  netlify.toml
Labels: none

feat: support awards api
  .changeset/chilly-rockets-matter.md
  src/extended.ts
  src/main.ts
Labels: none

web: update extended api
  web/.vitepress/config.ts
  web/api/thetvdb-extended.md
Labels: 📚 docs

fix: update typos
  web/api/thetvdb-extended.md
Labels: 📚 docs

deps: bump to latest
  package.json
  pnpm-lock.yaml
Labels: none

docs: add awards API & update supported endpoints
  web/api/thetvdb.md
  web/guide/supported-endpoints.md
Labels: 📚 docs

test: add new api awards
  tests/main.test.ts
  tests/mocks/handlers.ts
  tests/mocks/response.ts
Labels: 🧪 tests

web: don't capitalize
  web/api/thetvdb.md
Labels: 📚 docs

chore: update workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
Labels: none

deps: bump to latest
  package.json
  pnpm-lock.yaml
Labels: none
