Repository falsepopsky/thetvdb, changes with the labels that .github/labeler.yaml gives for each.
All labels: 📦 @untidy/thetvdb, 📚 docs, 🧪 tests, ⚙️ configs

fix: export types, add link to their docs
  packages/api/src/index.ts
Labels: 📦 @untidy/thetvdb

docs: update readme
  packages/api/README.md
Labels: 📚 docs

fix: format files
  packages/web/.astro/types.d.ts
Labels: 📚 docs

chore: stable release (part 2)
  .changeset/big-dodos-confess.md
Labels: none

fix: dont format astro folder
  .prettierignore
  packages/web/.astro/types.d.ts
Labels: 📚 docs

deps: bump to latest
  package.json
  packages/api/package.json
  packages/web/package.json
  pnpm-lock.yaml
Labels: 📚 docs

docs: update index and token
  packages/web/.astro/types.d.ts
  packages/web/astro.config.js
  packages/web/src/content/docs/api/index.mdx
  packages/web/src/content/docs/api/token.mdx
Labels: 📚 docs

deps: bump to latest
  packages/web/package.json
  pnpm-lock.yaml
Labels: 📚 docs

deps: bump to latest
  package.json
  packages/web/package.json
  pnpm-lock.yaml
Labels: 📚 docs

fix: new json format is broken
  .prettierrc
  packages/api/CHANGELOG.md
Labels: ⚙️ configs

chore: use vitest
  .eslintrc.cjs
  jest.config.js
  package.json
  packages/api/package.json
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Labels: ⚙️ configs

chore: update configs, deps
  .devcontainer/devcontainer.json
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  jest.setup.js
  packages/eslint-config-untidy/index.cjs
  packages/eslint-config-untidy/package.json
  packages/web/package.json
  pnpm-lock.yaml
Labels: 📚 docs

.github/labeler.yaml:

"📦 @untidy/thetvdb":
  - "packages/api/src/**"
"📚 docs":
  - "packages/web/**"
  - "README.md"
  - "packages/api/README.md"
"🧪 tests":
  - "packages/api/tests/**"
  - "mocks/**"
"⚙️ configs":
  - ".prettierrc"
  - "jest.config.js"
  - ".eslintrc.cjs"
