Repository falsepopsky/thetvdb, changes with the labels that .github/labeler.yaml gives for each.
All labels: 📦 core, 📚 docs, 🧪 tests, ⚙️ configs

fix: update node in container
  .devcontainer/devcontainer.json
Labels: none

chore: update project and update deps
  .npmrc
  package.json
  packages/thetvdb/LICENSE
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

deps: update to latest
  netlify.toml
  package.json
  packages/thetvdb/package.json
  pnpm-lock.yaml
Labels: none

chore: bump pnpm
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  package.json
  packages/thetvdb/package.json
  pnpm-lock.yaml
Labels: none

docs: add artwork API
  docs/api/artwork/byid.md
  docs/api/artwork/byidextended.md
  docs/api/artwork/statuses.md
  docs/api/artwork/types.md
Labels: 📚 docs

chore: move playground to rootDir '.'
  environment.d.ts
  package.json
  packages/thetvdb/package.json
  packages/thetvdb/playground.ts
  packages/thetvdb/tsconfig.json
  playground.ts
  tsconfig.json
Labels: none

deps: bump to latest
  packages/eslint-config-untidy/package.json
  pnpm-lock.yaml
Labels: none

docs: add awards API
  docs/api/awards/awards.md
  docs/api/awards/byid.md
  docs/api/awards/byidextended.md
  docs/api/awards/categorybyid.md
  docs/api/awards/categorybyidextended.md
Labels: 📚 docs

docs: add characters API
  docs/api/characters/byid.md
Labels: 📚 docs

docs: add companies API
  docs/api/companies/byid.md
  docs/api/companies/companies.md
  docs/api/companies/types.md
Labels: 📚 docs

fix: remove pnpm from `engines` in package
  packages/thetvdb/package.json
Labels: none

chore: update deps to latest
  package.json
  packages/eslint-config-untidy/package.json
  pnpm-lock.yaml
Labels: none

docs: add ratings, countries and entities API
  docs/api/content/ratings.md
  docs/api/countries/countries.md
  docs/api/entities/entities.md
Labels: 📚 docs

chore: add astro configs
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

chore: remove eslint-plugin-import
  .eslintrc.cjs
  packages/eslint-config-untidy/index.cjs
  packages/eslint-config-untidy/package.json
Labels: ⚙️ configs

chore: add tailwind
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

chore: remove vitepress
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/api/artwork/byid.md
  docs/api/artwork/byidextended.md
  docs/api/artwork/statuses.md
  docs/api/artwork/types.md
  docs/api/awards/awards.md
  docs/api/awards/byid.md
  docs/api/awards/byidextended.md
  docs/api/awards/categorybyid.md
  docs/api/awards/categorybyidextended.md
  docs/api/characters/byid.md
  docs/api/companies/byid.md
  docs/api/companies/companies.md
  docs/api/companies/types.md
  docs/api/content/ratings.md
  docs/api/countries/countries.md
  docs/api/entities/entities.md
  docs/api/index.md
  docs/api/thetvdb-extended.md
  docs/api/thetvdb.md
  docs/guide/faq.md
  docs/guide/getting-started.md
  docs/guide/supported-endpoints.md
  docs/index.md
  docs/public/favicon.ico
  docs/public/favicon.png
Labels: 📚 docs

chore: rename folder to api
  packages/api/CHANGELOG.md
  packages/api/LICENSE
  packages/api/README.md
  packages/api/package.json
  packages/api/src/core.ts
  packages/api/src/extended.ts
  packages/api/src/index.ts
  packages/api/src/main.ts
  packages/api/tests/core.test.ts
  packages/api/tests/extended.test.ts
  packages/api/tests/main.test.ts
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
Labels: none

fix: turn off n/no-missing-import
  .eslintrc.cjs
  packages/eslint-config-untidy/index.cjs
Labels: ⚙️ configs

chore: update netlify build
  netlify.toml
Labels: none

feat: use starlight for docs
  package.json
  packages/web/.astro/types.d.ts
  packages/web/astro.config.js
  packages/web/package.json
  packages/web/public/favicon.ico
  packages/web/src/assets/favicon.png
  packages/web/src/components/card.astro
  packages/web/src/components/details.astro
  packages/web/src/components/grid.astro
  packages/web/src/components/tag.astro
  packages/web/src/content/config.ts
  packages/web/src/content/docs/api/artwork/byid.mdx
  packages/web/src/content/docs/api/artwork/byidextended.mdx
  packages/web/src/content/docs/api/artwork/statuses.mdx
  packages/web/src/content/docs/api/artwork/types.mdx
  packages/web/src/content/docs/api/awards/awards.mdx
  packages/web/src/content/docs/api/awards/byid.mdx
  packages/web/src/content/docs/api/awards/byidextended.mdx
  packages/web/src/content/docs/api/awards/categorybyid.mdx
  packages/web/src/content/docs/api/awards/categorybyidextended.mdx
  packages/web/src/content/docs/api/characters/byid.mdx
  packages/web/src/content/docs/api/companies/byid.mdx
  packages/web/src/content/docs/api/companies/companies.mdx
  packages/web/src/content/docs/api/companies/types.mdx
  packages/web/src/content/docs/api/content/ratings.mdx
  packages/web/src/content/docs/api/countries/countries.mdx
  packages/web/src/content/docs/api/entities/entities.mdx
  packages/web/src/content/docs/api/index.mdx
  packages/web/src/content/docs/api/people/people.mdx
  packages/web/src/content/docs/index.mdx
  packages/web/src/env.d.ts
  packages/web/src/tailwind.css
  packages/web/tailwind.config.js
  packages/web/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix: path for playground
  playground.ts
Labels: none

feat: add supported endpoints
  packages/web/src/content/docs/guides/supported-endpoints.md
Labels: none

feat: add mdx and prettier config for astro
  .devcontainer/devcontainer.json
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
Labels: ⚙️ configs

format: style class
  packages/web/src/components/details.astro
  packages/web/src/components/grid.astro
  packages/web/src/components/tag.astro
Labels: none

fix: prefer mdx extension
  packages/web/src/content/docs/guides/supported-endpoints.mdx
Labels: none

docs: add faq
  packages/web/astro.config.js
  packages/web/src/content/docs/guides/faq.mdx
  packages/web/src/content/docs/guides/supported-endpoints.mdx
Labels: none

chore: require a minor Node.js version 18.17.0
  packages/api/package.json
Labels: none

fix: eslint project path
  .eslintrc.cjs
Labels: ⚙️ configs

fix: return type for path `/people/types`
  packages/api/src/main.ts
Labels: none

docs: add `/people/*` and sort order
  packages/web/src/content/docs/api/artwork/byid.mdx
  packages/web/src/content/docs/api/awards/byid.mdx
  packages/web/src/content/docs/api/awards/byidextended.mdx
  packages/web/src/content/docs/api/people/byid.mdx
  packages/web/src/content/docs/api/people/byidextended.mdx
  packages/web/src/content/docs/api/people/people.mdx
  packages/web/src/content/docs/api/people/translation.mdx
  packages/web/src/content/docs/api/people/types.mdx
Labels: none

fix: organizeImports is broken in .mdx files
  .vscode/settings.json
Labels: none

chore: update deps
  package.json
  packages/eslint-config-untidy/package.json
  packages/web/package.json
  pnpm-lock.yaml
Labels: none

docs: fix sort order
  packages/web/src/content/docs/api/artwork/byidextended.mdx
  packages/web/src/content/docs/api/artwork/statuses.mdx
  packages/web/src/content/docs/api/artwork/types.mdx
  packages/web/src/content/docs/api/awards/awards.mdx
  packages/web/src/content/docs/api/awards/categorybyid.mdx
  packages/web/src/content/docs/api/awards/categorybyidextended.mdx
  packages/web/src/content/docs/api/characters/byid.mdx
  packages/web/src/content/docs/api/companies/byid.mdx
  packages/web/src/content/docs/api/companies/companies.mdx
  packages/web/src/content/docs/api/companies/types.mdx
  packages/web/src/content/docs/api/content/ratings.mdx
  packages/web/src/content/docs/api/countries/countries.mdx
  packages/web/src/content/docs/api/entities/entities.mdx
Labels: none

docs: add `episodes` API
  packages/web/astro.config.js
  packages/web/src/content/docs/api/episodes/byid.mdx
  packages/web/src/content/docs/api/episodes/byidextended.mdx
  packages/web/src/content/docs/api/episodes/episodes.mdx
  packages/web/src/content/docs/api/episodes/translation.mdx
Labels: none

fix: remove unused extension
  packages/web/tailwind.config.js
Labels: none

test: coverage path
  jest.config.js
Labels: ⚙️ configs

.github/labeler.yaml:

"📦 core":
  - "packages/thetvdb/src/**"
"📚 docs":
  - "docs/**"
  - "README.md"
  - "packages/thetvdb/README.md"
"🧪 tests":
  - "packages/thetvdb/tests/**"
  - "mocks/**"
"⚙️ configs":
  - ".prettierrc"
  - "jest.config.js"
  - ".eslintrc.cjs"
